{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block main_id %}homepage{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Code'N'Coffee</h1>
		{% if app.user is null %}
			<ul>
				<li>                     
					<a href="{{ path('app_register') }}" title="Inscription">Inscription</a>                 
				</li>
				<li>
					<a href="{{ path('app_login') }}" title="Connexion">Connexion</a>
				</li>
			</ul>
		{% else %}
			<h2>
				Bienvenue
				{{ app.user.firstname }}</h2>
			<ul>
				<li><a href="{{ path('app_logout') }}" title="Déconnexion">Déconnexion</a></li>
			</ul>
		{%  endif %}
	</div>
{% endblock %}
